@import "tailwindcss";

@theme {
  --color-primary: #4F7942;
  --color-primary-dark: #3E6034;
  --color-background-cream: #FDFDF9;
  --color-text-slate: #0F172A;
  --font-sans: var(--font-inter), sans-serif;
}

:root {
  --background: var(--color-background-cream);
  --foreground: var(--color-text-slate);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@media (min-width: 1024px) {
  body {
    zoom: 0.85;
  }
}
